<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Shipping Request</h1>
    <p>Request attached to this message</p>
  </body>
</html>
